@import "primereact/resources/themes/lara-light-cyan/theme.css";

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .mobilefeature {
    display: none;
  }
}

@media (max-width: 1024px) {
  .largeOnly {
    display: none;
  }
}

.p-speeddial-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.userMenuDialog {
  width: 75vw;
}

@media (min-width: 768px) {
  .userMenuDialog {
    width: 50vw;
  }
}
